<div class="parent">
  <h2>Reactive form</h2>

  <form class="example-form" [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    @if (profileForm.controls['name'].invalid && (profileForm.controls['name'].dirty || profileForm.controls['name'].touched)) {
      <div class="alert">
        @if (profileForm.controls['name'].hasError('required')) {
          <div>
            Name is required.
          </div>
        }
        @if (profileForm.controls['name'].hasError('minlength')) {
          <div>
            Name must be at least 4 characters long.
          </div>
        }
      </div>
    }
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <div formArrayName="aliases">
      <h2>Aliases</h2>
      <button mat-button (click)="addAlias()">+ Add another alias</button>
      <div>
      @for (alias of aliases.controls; track alias; let i = $index){
        <!-- The repeated alias template -->
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <mat-label>Alias</mat-label>
              <input matInput id="alias-{{ i }}" [formControlName]="i">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-button (click)="deleteAlias(i)">- Delete this alias</button>
          </mat-grid-tile>
        </mat-grid-list>
      }
      </div>
    </div>

    <button mat-raised-button [disabled]="!profileForm.valid">Submit</button>
  </form>

  <h2>Profile Form</h2>
  <p>Name: {{ profileForm.value.name }}</p>
  <p>Email: {{ profileForm.value.email }}</p>
  <p>Aliases: {{ profileForm.value.aliases }}</p>
</div>